
 <!--<script type = "text/javascript" src = "../../resources/js/signup.js"></script> -->
 <nav class="navbar navbar-light navbar-expand-sm justify-content-between" style = "background-color: #F4CA02">
    <ul class = "navbar-nav">
        <a class="navbar-brand" href="#">
            <!-- <img src="../../resources/imgs/logo2.png" width="50" height="50" class="d-inline-block align-top" alt=""> -->
            Tender
          </a>
        <li class = "nav-item">
            <a class = "nav-link" href = "/home">Home</a>
        </li>
        <li class = "nav-item">
            <a class = "nav-link" htrg = "login" data-toggle = "modal" data-target = "#login">Login</a>
        </li>
        <li class="nav-item">
            <a class = "nav-link" href = "/profile">My Profile</a>
        </li>
    </ul>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

    <!-- Login Modal -->
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="username">Username</label>
                        <input type="username" class="form-control" id="uname" placeholder="Enter username">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="pword" placeholder="Password">
                        <a href = "/signup" class = "small" > Don't have an account? Sign up here.</a> <!-- link to go to sign up page-->
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
