<%- include('../partials/header')%>

<div class = "container">
    <%- include('../partials/nav')%>
    <br>
    <div class = "jumbotron">
        <h1>Welcome to Tender!</h1>
        <p>Tender is an online web application that allows you to pick and choose random recipes generated below until you find
          the perfect meal.</p>
    </div>
    <br>
    <!-- Card for user to "swipe" left and right on-->
    <div class="container py-3">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
                <img id = "recipePic" src="../../resources/imgs/temp.png" class="w-100">
              </div>
              <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4  id = "recipeName" class="card-title">Recipe Name</h4>
                        <p id = "prepTime" class="card-text">Prep Time</p>
                        <p id = "desc" class = "card-text">This recipe is...</p>
                        <br>
                        <button type="button" class="btn btn-primary" onclick= "goToRecipe()">Go To Recipe</button>
                        <button type="button" class="btn btn-success" onclick= "addRecipeToInv()">Add to Inventory</button>
                        <button type="button" class="btn btn-danger" onclick="randomizeRecipe()">New Recipe</button>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>


<%- include('../partials/footer')%>
