<% include ../partials/header %>
<div class = "container">
    <% include ../partials/nav%>
    <br>
    <div class = "text-center">
        <img id = "profilePic" src = "../../resources/imgs/tempprofile.png" class = "rounded-circle" alt = "Picture of me" width = "300" lenth = "500">
        <br>
        <h3 id = "name"> My Name</h3>
    </div>
    <br>
    <p>Email: </p>
    <p id = "email"> example@email.com</p>
    <p>Password: </p>
    <p type = "password" id = "password"> </p>
    <p>Change Profile Picture:</p>
    <form>
    <input type="file" id="img" name="img" accept="image/*">
    <input type="submit">
    </form>

    <br>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myrecipes" aria-expanded="false" aria-controls="collapseExample">
        My Recipes
    </button>

    <div class = "collapse multi-collapse"" id = "myrecipes">
        <!-- start of card -->
        <div class="card">
            <div class="row ">
              <div class="col-md-4">
                  <img id = "recipepic" src= <%- image_url%> class="w-100">
                </div>
                <div class="col-md-8 px-3">
                      <div class="card-block px-3">
                          <h4  id = "recipeName" class="card-title"><%-recipe_name %></h4>
                          <p id = "prepTime" class="card-text"> Ready in <%- cook_time%> minutes!</p>
                          <a class= "btn btn-primary" role="button" href=<%-recipe_url%>>Recipe Source</a>
                      </div>
                </div>
              </div>
        </div>
        <!-- end of card -->
    </div>

</div>
