<%- include("../partials/header") %>
<script type = "text/javascript" src = "../../resources/js/profile.js"></script>

<body class='profile' onload = "getProfileInfo()">
  <div class = "container">
    <%- include('../partials/nav')%>
      <br>
      <div id = "welcome" class = "jumbotron">
          <h3 id = "name"></h3>
          <p id = "msg"></p>
      </div>
      <br>
      <br>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#myrecipes" aria-expanded="false" aria-controls="collapseExample">
          My Recipes
      </button>

      <div class = "collapse multi-collapse"" id = "myrecipes">
          <!-- start of card -->
        <div class="card">
              <div class="row ">
                <div class="col-md-4">
                    <img id = "recipepic" src="../../resources/imgs/temp.png" class="w-100">
                  </div>
                  <div class="col-md-8 px-3">
                        <div class="card-block px-3">
                            <h4  id = "recipeName" class="card-title">You do not have any saved recipes.</h4>
                            <p id = "prepTime" class="card-text"></p>
                            <p id = "calories" class = "card-text"></p>
                            <p id = "desc" class = "card-text"></p>
                            <br>
                            <a class="btn btn-primary" href="/recipe" role="button">Go to Recipe</a>
                        </div>
                  </div>
                </div>
          </div> 

          <!-- end of card -->
      </div>
  </div>
</body>
