<%- include('../partials/header')%>
<script type = "text/javascript" src = "../../resources/js/signup.js"></script>
<body onload = "openModal()">

<div class = "container">
  <%- include('../partials/nav')%>
    <br>
    <h1 align = "center">Sign Up Page</h1>
    <br>
    <form id = "signupform" action = "/signup" method = "post"> 
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="firstname" class="form-control" name = "firstname" id="firstname" aria-describedby="emailHelp" placeholder="Enter first name">
          </div> 
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="lastname" class="form-control" name = "lastname" id="lastname" placeholder="Enter last name">
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name = "username" id="username" placeholder="Enter username">
          </div> 
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name = "password" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="confpassword">Confirm Password</label>
            <input type="password" class="form-control" id="confpassword">
          </div>
         
          <div id="message" style="display:block">
            <h4>Password must contain the following:</h4>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            <p id="match" class="invalid">Password and Confirm Password Match</p>
          </div>
          <br> 
          <!-- <form action = "/signup/home" method = "get"> -->
            <button type="submit" id = "submit_signup" disabled class="btn btn-primary btn-block">Submit</button>
        <!-- </form>  -->
    </form>
</div>
</body>

